@font-face {
    font-family: "Noto Sans";
    src: url("fonts/Noto_Sans/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "Noto Sans";
    src: url("fonts/Noto_Sans/NotoSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/Oswald-Regular.ttf");
}
@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/Oswald-SemiBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: "Oswald";
    src: url("fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
    font-weight: bold;
}


.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}
.roboto-bold {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
body {
    background-color: #bbe5cd;
}

h4 {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 36px;
}

li {
    list-style: none;
}

i {
    padding-top: 4px;
    padding-bottom: 4px;
}

.red {
    color: #ee7172 ;
    font-weight: bold;
    margin: 0;
    line-height: 26px !important;
}

#dots_first {
    padding-top: 20px;
}

#dots_second {
    padding-top: 6px;
}
#dots_third {
    padding-top: 30px;
}

#dots_fourth {
    padding-top: 38px;
}

#dots_fifth {
    padding-top: 15px;
}

#dots_sixth {
    padding-top: 27px;
}

#vit_1 {
    padding-top: 15px;
    margin-bottom: 55px;
}
#sectionTwo > div:nth-child(2) > div:nth-child(1) > h4 {
    text-align: right;
    font-weight: bold;
    margin: 0;
}

#vit_2 {
    padding-top: 60px;
}

#vit_3 {
    padding-top: 50px;
}

#sectionOne {
    padding-top: 100px;
}
.dot {
    text-align: center;
    vertical-align: middle;
}

.dot-span {
    display: block;
    color: #ffffff;
    font-size: 8px;
    line-height: 1;
}

.letters {
    display: inline-block;
    width: 116px;
    margin-left: 20px;
    margin-right: 20px;
}
.letters_sectionOne {
    margin-top: 50px;
}
.letters_sectionTwo {
    margin-top: 12px;
}
.letters_sectionThree {
    margin-top: 12px;
}
.bigImage {
    width: 420px;
}


#arrow_down {
    padding-top: 25px;
}


#sectionFour-header {
    padding-top: 45px;
    font-family: 'Oswald', sans-serif ;
    font-weight: 500;
    line-height: 1.4 !important;
    letter-spacing: 4px;
}

#adam  {
    padding-left: 75px;
    padding-top: 55px;
}

#ewa {
    padding-right: 95px;
    padding-top: 55px;
}
.person-container{
    padding-top: 40px;
}

.person-container .roboto {
    padding-top: 20px;
}

.person-header {
    font-size: 19px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.person-container .person-header {
    padding-top: 36px;
}
.person-container .roboto-bold {
    padding-top: 20px;
}

.person-about {

}
.inlineContent {
    clear: both;
    border-top: 1px dashed #62bfb1 ;
}

.inlineContent:first-child {
    border: none;
}

.inlineContent > div {
    float: left;
}

.inlineContent > div:last-child {
    float: right;
}
#sectionFive .letters {
    width: 50px;
    margin-left: 60px;
}
.sectionFive-about {
    margin-left: 50px;
}

.sectionFive-about p:first-child {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.section-bkg {
    padding: 0;
    background-color: #e9f6ef;
    border-radius: 25px;
}
.section-bkg-darker {
    background-color: #d8f0e3;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.module {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 15px;
}

#sectionFive ul li {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 150px;
}
#sectionFive > div > div > ul > li:nth-child(3) {
    padding-bottom: 100px;
}

#sectionFive > div > div > ul > li:nth-child(6) {
    padding-bottom: 100px;
}
#sectionFive > div > div > ul > div > li:nth-child(1) {
    padding-bottom: 100px;
}
#sectionFive > div > div > ul > div > li:nth-child(3) {
    padding-bottom: 100px;
}

#sectionFive ul {
    padding: 0;
}

#sectionFive i {
    padding-right: 40px;
}

.lastRow {
    min-width: 50%;
    padding-left: 50px;
}
